html,
body {
    width: 100%;
    height: 100%;
}
body {
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  color: #777777;
}
.navbar {
    margin-bottom: 0px;
}
.head-box{
	min-height: 640px;
	height: 640px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+6,71bae7+43,b9e2f4+64,71bae7+64,71bae7+65,58bdd4+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 6%, #71bae7 43%, #b9e2f4 64%, #71bae7 64%, #71bae7 65%, #58bdd4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#ffffff), color-stop(43%,#71bae7), color-stop(64%,#b9e2f4), color-stop(64%,#71bae7), color-stop(65%,#71bae7), color-stop(100%,#58bdd4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 6%,#71bae7 43%,#b9e2f4 64%,#71bae7 64%,#71bae7 65%,#58bdd4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 6%,#71bae7 43%,#b9e2f4 64%,#71bae7 64%,#71bae7 65%,#58bdd4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 6%,#71bae7 43%,#b9e2f4 64%,#71bae7 64%,#71bae7 65%,#58bdd4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 6%,#71bae7 43%,#b9e2f4 64%,#71bae7 64%,#71bae7 65%,#58bdd4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#58bdd4',GradientType=0 ); /* IE6-9 */
}

.vertical-center {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}
.text-vertical-bottom {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}
h1{
	font-family: 'Lato', sans-serif;
}
.azul1{
	color: #1e91ad !important;
}
.azul2{
	color: #43acc7 !important;
}
.azul3{
	color: #0b3745 !important;
}
.orange1{
	color: #eb872c !important;
}
.orange2{
	color: #f7bb8c !important;
}
.tagline1 {
	font-family: 'Lato', sans-serif;
	font-style: italic !important;
    display: inline-block;
}
 section {
    margin-bottom: 40px;
    padding-top: 80px;
}
.no-left-padding {
    padding-left: 0 !important;
}
.no-right-padding {
    padding-right: 0 !important;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.empty-20{
	border-color: transparent;
	margin-top: 20px;
	margin-bottom: 20px
}
.empty-40{
	border-color: transparent;
	margin-top: 40px;
	margin-bottom: 40px
}
.empty-70{
	border-color: transparent;
	margin-top: 70px;
	margin-bottom: 70px
}
.balloonWrapper {
	position: fixed;
	top: 40px;
	left: 50%;
	-webkit-transition: all 1500ms ease;
	-moz-transition: all 1500ms ease;
	-o-transition: all 1500ms ease;
	transition: all 1500ms ease;

	/* enable hardware acceleration to fix laggy transitions */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 1000;
	
	transform: translate(-196px, 0px);
-webkit-transform: translate(-196px, 0px);
-moz-transform: translate(-196px, 0px);
-o-transform: translate(-196px, 0px);
-ms-transform: translate(-196px, 0px);
}
.scrollActive .balloonWrapper {
	position: fixed;
}

#family {
  background: url(../img/family.jpg) no-repeat center bottom fixed; 
  display: table;
  height: 650px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 80px;
}
#family .vertical-center {
    position: absolute;
    bottom: 0;
}
.ribbon-azul{
	background-image: url(../img/blue_ribbon.png);
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 105px;
}
h1.ribbon-azul {
    text-align: center;
    line-height: 100px;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg-sky.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
}
.btn-dark {
    border-radius: 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    background-color: #eb872c;
}
/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #f0f0f0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.widgets-top{
    background-color: #1e91ad;
    padding-right: 15px;
}
.fe-logo {
    margin-top: 40px;
}
.kid{
	z-index: 1;
    position: absolute;
    bottom: 30px;
}
.rainbow{
	z-index: 5;
	position: absolute;
	bottom: 0;
}
.stack {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    height: 300px;
}
.slogan {
    margin: 40px 0 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.slogan img{
	margin-left: auto;
	margin-right: auto;
}